//GRAY COLORS
$color-gray: #7c7c7c;

$color-gray-light-1: #f5f5f5;
$color-gray-light-2: #dedede;
$color-gray-light-3: #b5b5b5;

$color-gray-dark-1: #262626;

//ORANGE COLORS
$color-orange-100: #fbe6c5;
$color-orange-200: #f5ba98;
$color-orange-300: #ee8a82;
$color-orange-500: #dd686c;
$color-orange-800: #541f3f;

//ADDITIONAL COLORS
$color-green: #41b641;
$color-red: #b64141;
